.switchWrapper {
  position: relative;

  > :first-child ~ * {
    transition-duration: 1s;
    transition-timing-function: easy-in-out;
    position: absolute;
    top: 200px;
    left: 0;
    width: 100%;
  }
}
